@import url('https://fonts.googleapis.com/css?family=Open+Sans|Orbitron');
.search-wrapper {
    background: steelblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: "Orbitron";
    border-style: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

h3 {
    color: black;
    margin-top: 20px;
}

.weather-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temp {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* .left {
    float: right;
}

.right {
    float: left;
} */

.form-group {
    margin-top: 10px;
    font-size: 12px;
}

input {
    margin-left: 10px;
}

button {
    margin-left: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
}