.toggle-button {
    cursor: pointer; 
}

.toggle-button:focus {
    outline: none;
}

.side-drawer {
    display: block;
    height: 100%;
    background: white;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    font-family: "Quantico";
    font-size: 2rem;
    padding-top: 100px;
    padding-left: 30px;
    z-index: 200;
}

ul {
    list-style: none;
    height: 100%;
}

li {
    margin-top: 30px;
}

.close-button {
    background: transparent;
    border: none;
}

.side-drawer.open {
    transform: translateX(0)
}