@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Black+Ops+One|Quantico|Wallpoet');
.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
}

.title {
    color: white;
    font-family: "Wallpoet";
    font-size: 2.5rem;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.nav-right {
    display: inline;
}

.nav-link {
    display: inline;
    font-family: "Quantico";
    color: white;
    padding-left: 30px;
    text-decoration: none;
}
.link-text:hover {
    color: #49fb35;
}

.dropdown {
    margin-left: 20px;
    overflow: hidden;
}

.dropbtn {
    background: transparent;
    border: none;
    color: white;
    font-family: "Quantico";
    font-size: 16px;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
  z-index: 100;
}


@media only screen and (max-width: 600px) {
    .nav-right{display: none;}

    .header {
        height:60px;        
    }
}

@media only screen and (max-width: 350px) {
    .title {
        font-size:2.2rem;
    }
}